<!DOCTYPE html>
<html>
<head>
	<title>Big Mall</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_link_tag 'home' %>
	<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Fugaz+One|Cantarell'%>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
	<nav class="navbar navbar-fixed-top custom-header">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">BigMall</a>
				<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links">
					<i class="fa fa-bars"></i>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-right" id="navbar-links">
				<ul class="nav navbar-nav">
					<li>
						<a href="application.html.erb" class="pullUp">Home</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle pullUp" data-toggle="dropdown" role="button">Collection
						<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">Dresses</a></li>
							<li><a href="#">Pants</a></li>
							<li><a href="#">Skirts</a></li>
							<li><a href="#">Shorts</a></li>
						</ul>
					</li>
					<li>
						<a href="about.html" class="pullUp">About</a>
					</li>
					<li>
						<a href="services.html" class="pullUp">Services</a>
					</li>
					<li>
						<a>
							<i class="fa fa-shopping-bag" id="cart"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="mySidenav" class="sidenav">
		<span class="closebtn" onclick="closeNav()">&times;</span>
		<h4>Your Cart</h4>
	</div>

	<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
	<div id="main">
		<%= yield %>
	</div>
	<!-- footer -->
	<footer>
		<div class="container">
			<div class="row text-center" id="upper">
				<div class="col-sm-3">
					<p class="heading">Follow Us</p>
					<ul class="list-inline">
						<li><a href=""><i class="fa fa-facebook"></i></a></li>
						<li><a href=""><i class="fa fa-twitter"></i></a></li>
						<li><a href=""><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
				<div class="col-sm-6">
					<p class="heading">Subscribe To Updates</p>
					<input type="text" placeholder="Email Address">
					<span id="subscribe">Subscribe Now</span>
				</div>
				<div class="col-sm-3">
					<p class="heading">Contact Us</p>
					<span>123-456-7890 | info@mysite.com</span>
				</div>
			</div>
			<div class="row text-center">
				<p>&copy;2017 By Goory Hamed.</p>
			</div>
		</div>
	</footer>
	<%= javascript_include_tag 'nav', 'data-turbolinks-track': 'reload' %>
</body>
</html>
